$module: '.container';

#{$module} {
	margin: 1em auto;
	padding-left: $wrapper-spacing;
	padding-right: $wrapper-spacing;

	@include breakpoint($wrapper-width + ($wrapper-spacing * 2)) {
		width: $wrapper-width;
	}
}
