a {
  $link-color: #222;
  $link-color--hover: $branding--primary;
  $link-color--active: darken($branding--primary, 5%);

	color: $link-color;
	// font-weight: 700;
	text-decoration: none;

	background-image: linear-gradient(0deg, $link-color, $link-color);
	background-repeat: no-repeat;
	background-size: 100% (1em / 16);
	background-position: center bottom;

	&:hover {
		color: $link-color--hover;
		background-image: linear-gradient(0deg, $link-color--hover, $link-color--hover);
	}

	&:active {
		color: $link-color--active;
		background-image: linear-gradient(0deg, $link-color--active, $link-color--active);
	}
}
