.operator {
	padding: 1em;

	background-color: #222;
	border-radius: 0.25em;

	color: #fff;
	font-family: monospace, monospace;
}

.operatorBitwiseBinary {
	display: grid;
	grid-template-columns: 1fr min-content 1fr min-content 1fr;
	gap: 0.5em;
	align-items: center;
}

.operatorBitwiseShift {
	display: grid;
	grid-template-columns: 1fr min-content min-content min-content 1fr;
	gap: 0.5em;
	align-items: center;
}

.operatorBitwiseUnary {
	display: grid;
	grid-template-columns: min-content 1fr min-content 1fr;
	gap: 0.5em;
	align-items: center;
}

.operatorInput {
	background-color: transparent;
	border: 1px solid #444;
	color: #fff;
	font-family: inherit;
}
.operatorInput[disabled],
.operatorInput[readonly] {
	padding-inline: 0;
	border: 0;
	text-align: center;
}
.operatorInput > option {
	color: #000;
}
.operatorInputSmall {
	height: auto;
	line-height: 1em;
}

.operatorOutput {
	background-color: transparent;
	border: 0;
	padding-inline: 0;
	color: #fff;
	font-family: inherit;
}

.operatorResetButton {
	font-size: var(--step--1);
}
.operatorResetButton:hover {
	text-decoration: underlined;
}

.practicalCode {
	border: 0;
	padding: 0;
}

.practicalVariable {
	display: inline-block;
	vertical-align: top;
	text-align: end;
}
.practicalVariable:first-child {
	text-align: start;
}
.practicalVariableName {
	color: #aaa;
	font-size: var(--step--1);
}

.practicalReadBit {
	display: grid;
	grid-template-columns: repeat(8, min-content) 1fr;
	gap: 0.5em;
	align-items: end;
}
.practicalReadBit > span {
	line-height: 2.5em;
}

.practicalSetBitOne,
.practicalSetBitZero {
	display: grid;
	grid-template-columns: repeat(6, min-content) 1fr;
	gap: 0.5em;
	align-items: end;
}
.practicalSetBitOne > span,
.practicalSetBitZero > span {
	line-height: 2.5em;
}

.practicalSetBit {
	display: grid;
	grid-template-columns: repeat(9, min-content) 1fr;
	gap: 0.5em;
	align-items: end;
}
.practicalSetBit > span {
	line-height: 2.5em;
}
