.playgroundOutput {
	display: block;
	height: auto;
	min-height: 7.5em;
	padding: 0.5em;
	border: 0.125em solid #ccc;
	border-radius: 0.25em;
	margin: 0;
	background-color: transparent;
	white-space: normal;
	word-break: break-all;
}
