<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>The Binary Cheatsheet</title>

	<meta name="description" content="A cheatsheet for bits and bytes">
	<link rel="canonical" href="https://timseverien.github.io/binary-cheatsheet">
	<link rel="manifest" href="/manifest.json">

	<meta property="og:url" content="https://timseverien.github.io/binary-cheatsheet">
	<meta property="og:type" content="website">
	<meta property="og:title" content="The Binary Cheatsheet">
	<meta property="og:description" content="A cheatsheet for bits and bytes">
	<meta property="og:locale" content="en-GB">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:creator" content="@timseverien">

	<link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicon-96x96.png">

	<style>{{> assets/styles/main.css }}</style>
</head>

<body>
	<a href="#main" class="sr-only sr-only--focusable">Skip to main content</a>

	<header class="section section--highlighted">
		<div class="container content">
			<h1>The Binary Cheatsheet</h1>
			<p>Are you a programmer who want to learn more about bits and bytes? Or do you just need to freshen up for your project? <strong>This cheatsheet is for you</strong>.</p>
		</div>
	</header>

	{{ table-of-contents }}

	<main class="container" id="main">
		{{ background }}
		{{ why }}
		{{ operators }}
		{{ practical }}
		{{ notes }}
		{{ contribute }}
	</main>

	<footer class="section section--highlighted section--last">
		<div class="container">
			<p>Made with <strong>&hearts;</strong>, by <span class="indenial">amnesic</span> <a href="https://twitter.com/timseverien" rel="nofollow noopener">Tim Severien</a>.</p>
		</div>
	</footer>

	{{ fork-me }}
	{{ analytics }}

</body>

</html>
