.playground {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
}

.playgroundInputContainer {
	display: flex;
	flex-direction: column;
	grid-row: 1 / span 3;
}

.playgroundEmbedInputContainer {
	display: flex;
	flex-direction: column;
}

.playgroundInput {
	display: block;
	flex: 1 0 auto;
	width: 100%;
	padding: 0.5em;
	border: 0.125em solid #ccc;
	border-radius: 0.25em;
	margin: 0;
	background-color: transparent;
	resize: none;
	font-family: monospace, monospace;
}

.playgroundInputDetail {
	display: block;
}

.playgroundOperator {
	padding: 1em;

	background-color: #222;
	border-radius: 0.25em;

	color: #fff;
	font-family: monospace, monospace;
}

.playgroundOperatorBitwiseBinary {
	display: grid;
	grid-template-columns: 1fr min-content 1fr min-content 1fr;
	gap: 0.5em;
	align-items: center;
}

.playgroundOperatorBitwiseShift {
	display: grid;
	grid-template-columns: 1fr min-content min-content min-content 1fr;
	gap: 0.5em;
	align-items: center;
}

.playgroundOperatorBitwiseUnary {
	display: grid;
	grid-template-columns: min-content 1fr min-content 1fr;
	gap: 0.5em;
	align-items: center;
}

.playgroundOperatorBinary {
	text-align: end;
}

.playgroundOperatorInput {
	background-color: transparent;
	border: 1px solid #444;
	color: #fff;
	font-family: inherit;
}
.playgroundOperatorInput[disabled],
.playgroundOperatorInput[readonly] {
	padding-inline: 0;
	border: 0;
	text-align: center;
}
.playgroundOperatorInput > option {
	color: #000;
}
.playgroundOperatorOutput {
	background-color: transparent;
	border: 1px solid #444;
	color: #fff;
	font-family: inherit;
}

.playgroundOutput {
	display: block;
	height: auto;
	min-height: 7.5em;
	padding: 0.5em;
	border: 0.125em solid #ccc;
	border-radius: 0.25em;
	margin: 0;
	background-color: transparent;
	white-space: normal;
	word-break: break-all;
}

.inputBinary {
	font-family: monospace, monospace;
}

.playgroundOperatorResetButton {
	font-size: var(--step--1);
}
.playgroundOperatorResetButton:hover {
	text-decoration: underlined;
}
