<div id="background" class="section content">
	<h2>Background</h2>

	<p>Looking at your computer screen, what do you see? Text, colours, images, videos and much more. Everything you see, everything you store on your computer, every button you press is a stream of ones and zeros. Why? How does it work?</p>

	<p>Computers parts are able to store data via tiny components called <a href="https://en.wikipedia.org/wiki/Flip-flop_(electronics)" rel="nofollow noopener">flip-flops</a>. They can be set to two states: “one” and “zero.” These circuits store a single <em>bit</em>, and the value of a bit is merely the numeric representation of a flip-flop, <code>1</code> or <code>0</code>.</p>

	<p>To store other values than ones and zeroes, a couple of bits can be grouped. If one bit can have two different states, a group of two bits can have four. A group of four bits can have up to sixteen states. The amount of different states grows exponentially for every bit that is added to a group. <var>s</var> = <var>n</var><sup>2</sup>, where <var>s</var> is the number of states, and <var>n</var> the number of bits within the group.</p>

	<p>The de-facto standard is to call a group of bits a <em>byte</em>, and one byte contains 8 bits. The more explicit term for an 8-bit group is <em>octet</em>.</p>

	<p>Binary is the purest representation of data on computers, but it isn’t easy to understand what the data represents. How do we get from binary to other values?</p>

	<h3 id="background-representation">Representation</h3>

	<p>Many typed programming languages have datatypes like integers, floats, strings, etc. These datatypes tell the computer how to interpret binary data. Instead of modifying bits and bytes to add two integers, we can use arithmetic operators, like a plus (+), and the computer will know what to do at binary level. Dynamically typed languages do the same, but also removes the need to tell which variable has which type.</p>

	<p>Let’s have look at the representation of an 8-bit unsigned integer (<code>uint</code>). A <code>uint</code> is a positive integer starting from 0. Incrementing is very similar to our decimal system:</p>

	<ol>
		<li>Increment the least significant number</li>
		<li>If least significant number exceeds maximum value, reset and increment the number one place left</li>
	</ol>

	<pre class="code"><code><span class="code__comment">// No bits set => zero</span>
00000000 = 0
<span class="code__comment">// Increment least significant bit</span>
00000001 = 1
<span class="code__comment">// Least significant bit exceeds max, so we reset it and increment bit left of it</span>
00000010 = 2
00000011 = 3
00101010 = 42
11111111 = 255</code></pre>

	<p>Understanding <code>uint</code> is quite valuable, as many programming languages use the datatype as default representation for binary data.</p>

	<pre class="code"><code><span class="code__comment">// JavaScript</span>
const answer = 0b00101010;
console.log(answer); <span class="code__comment">// 42</span></code></pre>
</div>
