<div id="notes" class="section content">
	<h2>Notes</h2>

	<p>The above code is pseudo-code, and may not work in all languages. Other than the basics&mdash;like data-types and equations&mdash;there
		are few things to consider in particular to make this work in your language.</p>

	<h4 id="note-declare-binary-literals">Declare binary literals</h4>
	<p>Although many languages seem to support binary literals by prefixing them with <code>0b</code>, some do not.</p>

	<pre class="code"><code>JavaScript = parseInt('0010', 2) <span class="code__comment">// pre-ES6</span>
PHP        = bindec('0010')      <span class="code__comment">// pre-5.4</span>
Scala      = Integer.parseInt("0010", 2)</code></pre>

	<p>For more information, please refer to the documentation of your preferred language.</p>

	<h4 id="note-converting-binary-to-string">Converting Binary to a String</h4>
	<p>Displaying binary data as a string can help debug binary values.</p>

	<pre class="code"><code>JavaScript = (0b1011).toString(2)
PHP        = decbin(0b1011)
Ruby       = "%b" % 0b1011</code></pre>

	<p>For more information, please refer to the documentation of your preferred language.</p>

	<h4 id="note-bitwise-operators">Bitwise operators</h4>
	<p>Some programming languages use different bitwise operators than used in this document. Please advice the documentation
		of your language in question.</p>
</div>
