<div id="operators" class="section content">
	<h2>Operators</h2>

	<p>Bitwise operators are like aritmetric operators, except they allow you to modify data on bit-level. They are used to modify
		bits or bytes.</p>

	<h4 id="operator-not">NOT</h4>
	<p>Flipping, or negating bits can be done using the <strong>NOT (~)</strong> operator. It litterally toggles all the bits.</p>
	<pre class="code"><code>~0b01 = 10
~0b11 = 00</code></pre>

	<h4 id="operator-and">AND</h4>
	<p>The <strong>AND (&amp;)</strong> operator returns <code>1</code> for each bit position only if the corresponding bits of
		both operands are <code>1</code>&rsquo;s.</p>
	<pre class="code"><code>0b01 &amp; 0b11 = 01
0b01 &amp; 0b00 = 00</code></pre>

	<h4 id="operator-or">OR</h4>
	<p>The <strong>OR (|)</strong> operator returns <code>1</code>&rsquo;s if the corresponding bits of either the operands is
		<code>1</code>.</p>
	<pre class="code"><code>0b10 | 0b01 = 11
0b00 | 0b00 = 00
0b11 | 0b10 = 11</code></pre>

	<h4 id="operator-xor">XOR</h4>
	<p>Similar to the <strong>OR</strong> operator, the <strong>XOR (^)</strong> operator only returns <code>1</code>&rsquo;s if
		either of the corresponding bits of the operands is <code>1</code>, but not if both are.</p>
	<pre class="code"><code>0b10 ^ 0b01 = 11
0b00 ^ 0b00 = 00
0b11 ^ 0b10 = 01</code></pre>

	<p>You could consider it a shortcut of the following code.</p>
	<pre class="code"><code>a = 0b11
b = 0b10
(a | b) &amp; ~(a &amp; b) = 01</code></pre>

	<h4 id="operator-shift">Shift</h4>
	<p>Bit shifting is the act of shifting a set of bits to the left or the right. This is used for pretty much everything.</p>

	<p>To shift bits to the left, use <code>&lt;&lt;</code>. Additional bits will be added on the right-hand side.</p>
	<pre class="code"><code>0b1001 &lt;&lt; 2 = 1001<span class="code__added">00</span></code></pre>

	<p>To shift bits the other way, use <code>&gt;&gt;</code>. <strong>This will discard the right-hand bits.</strong></p>
	<pre class="code"><code>0b1001 &gt;&gt; 2 = 10<span class="code__removed">01</span></code></pre>

	<p>When shifting bits to the right, notice the amount of bits decreases? A zero-fill right shift (<code>&gt;&gt;&gt;</code>)
		adds bits on the left-hand side, so the amount of bits remain the same.</p>
	<pre class="code"><code>0b1001 &gt;&gt;&gt; 2 = <span class="code__added">00</span>10<span class="code__removed">01</span></code></pre>
</div>
