<nav class="container section content">
  <h2>Table of contents</h2>

  <ul>
    <li>
      <a href="#background">Background</a>

      <ul>
        <li><a href="#background-representation">Representation</a></li>
      </ul>
    </li>

    <li><a href="#why-use-binary">Why use binary?</a></li>

    <li>
      <a href="#operators">Operators</a>

      <ul>
        <li><a href="#operator-not">NOT</a></li>
        <li><a href="#operator-and">AND</a></li>
        <li><a href="#operator-or">OR</a></li>
        <li><a href="#operator-xor">XOR</a></li>
        <li><a href="#operator-shift">Shift</a></li>
      </ul>
    </li>

    <li>
      <a href="#practical">Practical</a>

      <ul>
        <li><a href="#practical-get">Get a bit</a></li>
        <li><a href="#practical-set">Set a bit</a></li>
        <li><a href="#practical-toggle">Toggle a bit</a></li>
        <li><a href="#practical-store-flags">Store flags</a></li>
        <li><a href="#practical-hex-to-rgb">Hex to RGB</a></li>
        <li><a href="#practical-rgb-to-hex">RGB to hex</a></li>
      </ul>
    </li>

    <li>
      <a href="#notes">Notes</a>

      <ul>
        <li><a href="#note-declare-binary-literal">Declare a binary literal</a></li>
        <li><a href="#note-bitwise-operators">Bitwise operators</a></li>
      </ul>
    </li>
  </ul>
</nav>
