<div id="why-use-binary" class="section content">
  <h2>Why use binary?</h2>

  <p>At this point you might wonder why you’re reading this page. Why should you understand bits and bytes? How can you benefit from this knowledge when programming in higher level languages?</p>

  <p>Imagine we’re building a web application that needs data from a webserver. The conventional communication format is JavaScript Object Notation (JSON). Let’s say we’re sending an array of 8 random integers ranging from 0 to 255:</p>

  <pre class="code"><code>[
  10,
  240,
  106,
  236,
  244,
  226,
  139,
  30
]</code></pre>

  <p>Because the data is sent as a string with a specific format, we’ll need 8 bits per character, assuming it’s UTF-8 encoded. Ignoring whitespace, above JSON string is 31 characters, making it 248 bits.</p>

  <p>We can send the exact same data in binary, but way more efficient. Instead of returning a formatted string, because that’s what JSON is, we can send the data as one binary blob. For numbers ranging from 0 to 255, we still need 8 bits to represent each. Because each number has a fixed bit length, we can just concatinate them. The complete blob will be 64 bits long, saving just under 75% of data!</p>

  <pre class="code"><code>00001010 <span class="code__comment">// 10</span>
11110000 <span class="code__comment">// 240</span>
01101010 <span class="code__comment">// 106</span>
11101100 <span class="code__comment">// 236</span>
11110100 <span class="code__comment">// 244</span>
11100010 <span class="code__comment">// 226</span>
10001011 <span class="code__comment">// 139</span>
00011110 <span class="code__comment">// 30</span></code></pre>

  <p>The strength of JSON isn’t size, but flexibility. Because it’s a formatted string, it’s length and contents is irrelevant. The strength of binary is it’s size. It all depends on your use-case, but a 75% reduction of bandwidth is worth considering.</p>
</div>
