<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/playground">Playground</a></li>
	</ul>
</nav>

<style>
	nav {
		background-color: #000;
		padding: 1em;
	}

	ul {
		display: flex;
		flex-flow: row wrap;
		gap: 1em;
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

	a {
		color: #fff;
		font-weight: bold;
		text-decoration: none;
	}
</style>
