$module: '.code';

#{$module} {
  $color-code__base: saturate(darken($branding--background, 25%), 50%);
  $code-color__added: adjust-hue($color-code__base, 90);
  $code-color__removed: $color-code__base;
  $code-color__comment: darken($branding--background, 50%);

	background-color: $branding--foreground;
	color: $branding--background;
	padding: 2em;
	line-height: 1.4;

	> code {
		display: block;
		white-space: pre-wrap;
	}

	&__interest {
		color: $code-color__added;
	}

	&__added {
		color: $code-color__added;
	}

	&__removed {
		color: $code-color__removed;
		text-decoration: line-through;
	}

	&__comment {
		color: $code-color__comment;

		#{$module}__removed {
			color: $code-color__comment;
			text-decoration: line-through;
		}
	}
}
