$module: '.note';

#{$module} {
	$note-width: $wrapper-width * 0.5;

	border: 1px dashed darken($branding--background, 25%);
	box-sizing: border-box;
	margin: 2em 0;
	padding: 2em;

	> :last-child {
		margin-bottom: 0;
	}

	@include breakpoint($wrapper-width + $note-width + 8em) {
		float: right;
		margin: 0 #{-$note-width / 2} 0 1em;
		width: $note-width;
	}
}
